body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .para {
    font-weight: bolder;
  }

  .small-para {
    font-size: 14px;
    font-weight:bolder;
  }
  
  #confirm-button {
    background-color: green;
    color: white;
    font-weight: bold;
  }
  
  .text .child {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: bolder;
  }